node_modules
rust_study/projects/struct_study/target
rust_study/projects/rectangles/target
rust_study/projects/enum_study/target
rust_study/projects/my-project/restaurant/target
rust_study/projects/my-project/target
rust_study/projects/guessing_game/target
rust_study/projects/string_study/target
codewars/rust/target
codewars/rust/codewars_sotuions/target
rust_study/projects/codewars_rust/target
rust_study/projects/error_study/target
rust_study/projects/branches/target
rust_study/projects/generic_trait_lifetime_study/target
rust_study/projects/generic_trait_lifetime_study/trait_lib/target
